PORT=3000
TZ=+09:00

DB_CLIENT=mysql
DB_HOST=localhost
DB_USER=admin
DB_NAME=health-checker
DB_PASSWORD=health-checker-123
DB_PORT=3306

JWT_SECRET=

OPENAI_API_KEY=sk-
GITHUB_API_KEY=ghp_
GITHUB_LOCAL_WORKSPACE="C:/Users/yourname/Documents/github-workspace"